 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title%}{% endblock %}</title>
   {% block head %}{% endblock %}
 </head>
 <body>
   <div id="app">
    {% include './banner.html' %}
    {% block content %}
    {% endblock %}
   </div>
   <script src="https://cdn.staticfile.org/quicklink/2.0.0/quicklink.umd.js"></script>
   <script>quicklink.listen();</script>
   <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
   <script>
     $(document).pjax('a', '#app')
   </script>
 </body>
 </html>